// Container

.container,
.container-wide {
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--wp--preset--spacing--30);
	padding-right: var(--wp--preset--spacing--30);
}

.container {
	max-width: var(--wp--style--global--content-size);
}

.container-wide {
	max-width: var(--wp--style--global--wide-size);
}

.container-fluid {
	max-width: 100%;
}
