// Icon and Text

.icon-text {
	display: flex;
	gap: var(--wp--preset--spacing--10);
	align-items: flex-start;

	i {
		display: flex;

		&,
		& + * {
			margin-top: 0;
			margin-bottom: var(--wp--preset--spacing--20);
		}
	}
}
