// Pagination & Post Navigation

.pagination,
.post-navigation {
	.nav-links {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: var(--wp--preset--spacing--20);
		width: 100%;
		font-size: 1.2rem;

		@media (min-width: 992px) {
			justify-content: flex-start;
		}
	}
}

.pagination {
	margin-top: 2rem;
	margin-bottom: 2rem;

	.page-numbers {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 2rem;
		min-height: 2rem;
		font-size: var(--wp--preset--font-size--normal);
		text-decoration: none;
		line-height: 1;
		border: 1px solid transparent;
		border-radius: 100%;
		color: var(--wp--preset--color--foreground);
		background-color: var(--wp--preset--color--white);

		&.current {
			border-color: var(--wp--preset--color--primary);
		}

		&.prev,
		&.next {
			background-color: unset;

			svg {
				display: flex;
				stroke: var(--wp--preset--color--foreground);
			}
		}

		&:hover,
		&:focus,
		&:active {
			text-decoration: none;
		}
	}
}
