// Post Excerpt

.post-excerpt {
	display: flex;
	justify-content: center;
	gap: var(--wp--style--block-gap);
	border-radius: 32px;
	padding: var(--wp--preset--spacing--60) var(--wp--preset--spacing--40);
	margin-bottom: var(--wp--style--block-gap);
	background-color: var(--wp--preset--color--white);

	@media (min-width: 992px) {
		padding: var(--wp--preset--spacing--60) var(--wp--preset--spacing--80);
	}

	@media (max-width: 991.98px) {
		flex-direction: column;
	}

	a {
		text-decoration: none;
	}

	& > div {
		flex: 1;
	}

	& > div + div {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__title {
		margin-top: 0;
		font-size: var(--wp--preset--font-size--medium);
		font-weight: 700;
		text-transform: uppercase;
	}

	&__thumbnail {
		img {
			height: 100%;
			border-radius: 16px;
			object-fit: cover;

			@media (min-width: 992px) {
				border-radius: 22px;
			}
		}
	}

	&__read-more {
		@include button-tertiary;
	}
}
