// Footer

.footer {
	padding-top: var(--wp--preset--spacing--70);
	padding-bottom: var(--wp--preset--spacing--50);
	font-size: var(--wp--preset--font-size--small);
	color: var(--wp--preset--color--white);
	background-color: var(--wp--preset--color--black);

	a {
		color: inherit;
		text-decoration: none;

		&:hover,
		&:active,
		&:focus {
			text-decoration: underline;
			color: inherit;
		}
	}

	ul {
		display: flex;
		justify-content: flex-start;
		gap: var(--wp--preset--spacing--10);
		margin-top: 0;
		margin-bottom: var(--wp--preset--spacing--30);
		padding: 0;
		list-style: none;
		line-height: 1;
	}

	svg {
		width: var(--wp--preset--font-size--normal);
		fill: var(--wp--preset--color--white);
	}

	input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]) {
		padding-left: 0;
		padding-right: 0;
		color: var(--wp--preset--color--white);
		border-radius: 0;
		border: 0;
		border-bottom: 1px solid var(--wp--preset--color--white);
	}

	button[type="submit"],
	input[type="submit"] {
		@include button-primary;
	}

	::placeholder {
		color: var(--wp--preset--color--white);
	}

	:-ms-input-placeholder {
		color: var(--wp--preset--color--white);
	}

	::-ms-input-placeholder {
		color: var(--wp--preset--color--white);
	}

	.container,
	.container-wide,
	.container-fluid {
		display: grid;
		gap: var(--wp--preset--spacing--20);
		grid-template-columns: 100%;
		grid-template-areas:
			"LG"
			"FC"
			"FN"
			"AB"
			"CC"
			"AD"
			"CR";

		@media (min-width: 992px) {
			grid-template-columns: 20% repeat(3, 1fr);
			gap: var(--wp--preset--spacing--30);
			grid-template-areas:
				"LG FC FN FN"
				". AB AD AD"
				". CC AD AD"
				"CR CR CR CR";
		}
	}

	&__column {
		display: flex;
		flex-direction: column;

		.title {
			width: 100%;
			margin-bottom: var(--wp--preset--spacing--30);
			font-size: var(--wp--preset--font-size--medium);
			font-weight: 700;
			line-height: 1;
			color: var(--wp--preset--color--primary);
		}
	}

	&__logo {
		grid-area: LG;

		.custom-logo {
			max-width: 110px;
		}
	}

	&__form {
		grid-area: FN;

		&_call {
			grid-area: FC;
			display: flex;
			flex-direction: column;
		}

		&_title {
			font-size: var(--wp--preset--font-size--large);
			font-weight: 700;
		}
	}

	&__about {
		grid-area: AB;
	}

	&__menu {
		flex-direction: column;
	}

	&__contacts {
		grid-area: CC;

		ul {
			flex-direction: column;
		}
	}

	&__addresses {
		grid-area: AD;

		display: flex;
		flex-wrap: wrap;
		gap: 0 var(--wp--preset--spacing--30);

		@media (min-width: 992px) {
			flex-direction: row;
		}

		ul {
			flex-direction: column;
		}

		&_title {
			font-style: italic;
		}

		&_address {
			margin-bottom: var(--wp--preset--spacing--30);

			@media (min-width: 992px) {
				max-width: 50%;
			}
		}
	}

	&__copyright {
		grid-area: CR;

		ul {
			justify-content: space-between;

			@media (max-width: 991.98px) {
				flex-direction: column;
			}
		}
	}
}
