// Header

.header {
	.navbar {
		top: 0;
		width: 100%;
		padding-top: var(--wp--preset--spacing--50);
		padding-bottom: var(--wp--preset--spacing--20);
		color: var(--wp--preset--color--foreground);
		border-bottom: 1px solid var(--wp--preset--color--quaternary);
		background-color: var(--wp--preset--color--white);
		transition: top 0.3s;
		z-index: 1090;

		.container,
		.container-wide,
		.container-fluid {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: var(--wp--style--block-gap);
		}

		.navbar-brand {
			.custom-logo {
				max-width: 110px;
			}
		}

		&.is-sticky {
			position: fixed;
		}
	}

	&__image {
		min-height: 400px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__meta {
		padding-top: var(--wp--preset--spacing--50);
		padding-bottom: var(--wp--preset--spacing--50);
		background-color: var(--wp--preset--color--primary);

		&,
		a {
			color: var(--wp--preset--color--white);
		}

		.title {
			font-size: var(--wp--preset--font-size--x-large);
			font-weight: 700;
		}

		.taxonomy-description {
			@media (min-width: 992px) {
				max-width: 50%;
			}
		}
	}
}
