// 404 Error Page

.error404 {
	.main {
		.container,
		.container-fluid {
			height: 100%;
		}
	}

	.error-message {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		padding: var(--wp--style--block-gap);
		text-align: center;
		color: var(--wp--preset--color--black);
		border-radius: var(--border-radius-small);
		background-color: var(--wp--preset--color--background);

		& > span {
			margin-top: 3rem;
			margin-bottom: 2rem;
			font-size: 4rem;
			font-weight: 700;
		}

		.page-title {
			margin-bottom: 1.8rem;
			font-weight: 500;
		}

		& > a {
			@include button-tertiary;

			@media (max-width: 991.98px) {
				margin-bottom: 5rem;
			}
		}
	}
}
