// Blog

.blog {
	background-color: var(--wp--preset--color--octonary);

	main {
		& > .container,
		& > .container-wide,
		& > .container-fluid {
			padding-top: var(--wp--preset--spacing--50);
			padding-bottom: var(--wp--preset--spacing--50);
		}
	}
}
