// Buttons Mixins

@mixin button-base {
	padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--50);
	font-weight: 500;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-radius: 37px;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		filter: opacity(0.8);
		cursor: pointer;
	}
}

@mixin button-outline {
	@include button-base;

	color: var(--wp--preset--color--foreground);
	background: transparent;
}

@mixin button-black {
	@include button-base;

	color: var(--wp--preset--color--white);
	background: var(--wp--preset--color--black);
}

@mixin button-white {
	@include button-base;

	color: var(--wp--preset--color--black);
	background: var(--wp--preset--color--white);
}

@mixin button-primary {
	@include button-base;

	color: var(--wp--preset--color--white);
	background: var(--wp--preset--color--primary);
}

@mixin button-secondary {
	@include button-base;

	color: var(--wp--preset--color--white);
	background: var(--wp--preset--color--secondary);
}

@mixin button-tertiary {
	@include button-base;

	color: var(--wp--preset--color--white);
	background: var(--wp--preset--color--tertiary);
}
